$colors: (
  red-pomodoro:     #f62643,
  yellow-pomodoro:  #f5d547,
  green-pomodoro:   #5CE05E
);

.container {
  background-color: #F5D547;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(5, 20%);
}

.containerb {
  background-color: #5CE05E;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(5, 20%);
}

.count {
  grid-row: 2 / 5;
}

#text-nav {
  text-align: left;
}

#icon {
    width: 100%;
    height: 100%;
  }

.ion-input{
    --background: transparent !important;
}

.font{
  font-family: 'Happy Monkey', cursive;
  color: #f62643;
}

.fontb{
  font-family: 'Happy Monkey', cursive;
  color: #f5d547;
}

.big{
  font-size: 50px;
}

.med{
  font-size: 30px;
}

.num{
  background-color: #f62643;
  color: #F5D547;
  width: 100%;
  font-size: 50px;
}

.numb{
  background-color: #F5D547;
  color: #5CE05E;
  width: 100%;
  font-size: 50px;
}

.pomodoro1{
  padding-left: 50%;
  background-image: url("/assets/img/greenpomodoro.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  width: 100%;
  height: 20%;
  text-shadow: -2px 0 rgb(241, 220, 123), 0 2px rgb(241, 220, 123), 2px 0 rgb(241, 220, 123), 0 -2px rgb(241, 220, 123);
}

.pomodoro2{
  padding-left: 50%;
  background-image: url("/assets/img/yellowpomodoro.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  width: 100%;
  height: 20%;
  text-shadow: -2px 0 rgb(241, 220, 123), 0 2px rgb(241, 220, 123), 2px 0 rgb(241, 220, 123), 0 -2px rgb(241, 220, 123);
}

.pomodoro3{
  padding-left: 50%;
  background-image: url("/assets/img/orangepomodoro.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  width: 100%;
  height: 20%;
  text-shadow: -2px 0 rgb(241, 220, 123), 0 2px rgb(241, 220, 123), 2px 0 rgb(241, 220, 123), 0 -2px rgb(241, 220, 123);
}

.pomodoro4{
  padding-left: 50%;
  background-image: url("/assets/img/redpomodoro.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  width: 100%;
  height: 20%;
  text-shadow: -2px 0 rgb(241, 220, 123), 0 2px rgb(241, 220, 123), 2px 0 rgb(241, 220, 123), 0 -2px rgb(241, 220, 123);
}