<html>
  <ion-header [translucent]="true">
    <ion-toolbar id="header">
        <ion-title id="text-nav">
          End
        </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div id="container">

        <button class="back" id="button-power">
          <label id="icon">End <br> Please enjoy <br> a long break</label>
        </button>

        <div id="footer">
          <ion-button expand="full" class="font" style="font-size: 30px;" [routerLink]="['/home']">home</ion-button>
          <br>
          <p>simpol app</p>
          <br>
        </div>
    </div>
  </ion-content>
</html>
