<html>
  <ion-header [translucent]="true">
    <ion-toolbar id="header">
        <ion-title id="text-nav">
          Pomodoro
        </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div id="container">

        <button class="back" id="button-power" [routerLink]="['/task']">
          <ion-icon name="power-outline" id="icon"></ion-icon>
        </button>

        <div id="footer">
          <button id="button" (click)="presentAlert()">
            <ion-icon name="help-circle-outline" id="iconhelp"></ion-icon>
              about
          </button>
          <br>
          <p>Nedzib</p>
          <br>
        </div>
    </div>
  </ion-content>
</html>
