
html {
  min-height: 100%;
  position: relative;
}

#header{
  background-color: #F6F7F8;
}

#container {
  background-color: #F5D547;
  width: 100%;
  height: 75%;
  text-align: center;
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background-color: #F5D547;
}

#text-nav {
  text-align: left;
}

#button-power {
  background-color: transparent;
  width: 256px;
  height: 256px;
  margin-top: 5%;
}

#icon {
  width: 25%;
  height: 25%;
}

#button {
  background-color: transparent;
  width: 15%;
  height: 25%;
}

#iconhelp {
  width: 100%;
  height: 100%;
}

.back{
  background-image: url("/assets/img/pomodoro.png");
  background-repeat: no-repeat;
  background-color: #F5D547;
  background-position: center;
  width: 512px;
  height: 512px;
}